<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvlivejp.foodsell.mapper.ProductInfoMapper">
    <!--针对该Mapper开启二级缓存-->
    <!--<cache/>-->

    <select id="findByProductId" resultType="ProductInfo">
        select * from t_product_info where product_id = #{productId}
    </select>
</mapper>
